.item {
  background-color: #fff;
  box-shadow: 0px 3px 4px #e4e4e4;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid #f0f0f0;
}

.item img {
  width: 100%;
  height: auto;
}